.MuiTabs-flexContainer .css-heg063-MuiTabs-flexContainer button{
 size: 3px;
}

.cards-flex {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:1rem 3rem;
}
.card-box {
  margin: 1rem;
  margin-bottom: 2rem;
}

.swiper-container {
  height: 270px;
  width: 270px;
  overflow: hidden;
}

.card-img {
  height: 270px;
  width: 270px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-info-flex {
  display: flex;
  justify-content: space-between;
  
}
.card-info-flex h3{
  display: flex;
  justify-content: center;
  align-content: center;
}
.card-info-flex .edit{
  display: flex;
  justify-content: center;
  align-content: center;
}
.card-info-flex .edit button{
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.card-info-flex .edit button:hover, .card-info-flex .edit button:focus{
  background-color: #F082AC;
}

.card-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card-box .swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}

@media only screen and (max-width: 1000px) {
  .swiper-container,
  .card-img {
    height: 400px;
    width: 40vw;
  }
}

@media only screen and (max-width: 800px) {
  .swiper-container,
  .card-img {
    height: 50%;
    max-height: 400px;
    width: 90vw;
  }

  .cards-flex {
    padding: 0px;
  }
}

.card-box {
  width: 300px;
  overflow: hidden;
}
.box {
  position: absolute;
  margin-left:250px;
  transform: translateX(-50%) translateY(-50%);
  margin-top: 0px;
  text-align: center;
  transition: 0.5s;
  width: 80px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
}

.card-box:hover .box{
  margin-top: -380px;
  z-index: 100;
  opacity: 1;
}
.box>img {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-right: 3px;
}
